# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Node
node_modules/
dist/
dist-ssr/
*.local

# Database
*.db
*.sqlite3

# Project Specific
backend/cloned_repos/
backend/logs/

# OS
.DS_Store
Thumbs.db
